In [1]:
import pandas as pd

In [2]:
data_frame = pd.read_csv('../data/intraday_30min_EURCHF=X.csv', names=['Date_Time', 'open','high', 'low','close', 'volume'],index_col=0, parse_dates=True)

In [3]:
data_frame

                       open    high     low   close  volume
Date_Time
2019-06-17 06:55:20  1.1210  1.1210  1.1202  1.1207       0
2019-06-17 06:30:00  1.1209  1.1210  1.1200  1.1210       0
2019-06-17 06:00:00  1.1205  1.1210  1.1200  1.1209       0
2019-06-17 05:30:00  1.1209  1.1210  1.1200  1.1205       0
2019-06-17 05:00:00  1.1203  1.1209  1.1198  1.1208       0
...                     ...     ...     ...     ...     ...
2019-05-06 21:30:00  1.1392  1.1394  1.1387  1.1393       0
2019-05-06 21:00:00  1.1393  1.1395  1.1387  1.1392       0
2019-05-06 20:30:00  1.1395  1.1395  1.1386  1.1393       0
2019-05-06 20:00:00  1.1395  1.1397  1.1390  1.1395       0
2019-05-06 19:30:00  1.1396  1.1397  1.1389  1.1395       0

[1401 rows x 5 columns]

In [23]:
df1=data_frame.at_time('9:00')

In [24]:
df2=data_frame.at_time('10:00')

In [65]:
frames = [df1, df2]

In [85]:
result = pd.concat(frames, axis=0, ignore_index=False)

In [90]:
final=result.sort_values(by=['Date_Time'])

In [91]:
final

                       open    high     low   close  volume
Date_Time
2019-05-07 09:00:00  1.1416  1.1417  1.1407  1.1415       0
2019-05-07 10:00:00  1.1421  1.1423  1.1412  1.1422       0
2019-05-08 09:00:00  1.1401  1.1412  1.1398  1.1406       0
2019-05-08 10:00:00  1.1413  1.1414  1.1404  1.1409       0
2019-05-09 09:00:00  1.1388  1.1388  1.1370  1.1375       0
2019-05-09 10:00:00  1.1379  1.1397  1.1375  1.1392       0
2019-05-10 09:00:00  1.1362  1.1377  1.1360  1.1375       0
2019-05-10 10:00:00  1.1380  1.1381  1.1358  1.1369       0
2019-05-13 09:00:00  1.1329  1.1335  1.1320  1.1329       0
2019-05-13 10:00:00  1.1323  1.1325  1.1311  1.1317       0
2019-05-14 09:00:00  1.1295  1.1305  1.1291  1.1298       0
2019-05-14 10:00:00  1.1304  1.1308  1.1298  1.1307       0
2019-05-15 09:00:00  1.1264  1.1275  1.1261  1.1273       0
2019-05-15 10:00:00  1.1274  1.1312  1.1270  1.1309       0
2019-05-16 09:00:00  1.1310  1.1312  1.1295  1.1300       0
2019-05-16 10:00:00  1.1303  1.1303  1.1286  1.1287       0
2019-05-17 09:00:00  1.1291  1.1294  1.1282  1.1286       0
2019-05-17 10:00:00  1.1293  1.1299  1.1284  1.1288       0
2019-05-20 09:00:00  1.1263  1.1265  1.1256  1.1260       0
2019-05-20 10:00:00  1.1263  1.1266  1.1256  1.1262       0
2019-05-21 09:00:00  1.1279  1.1283  1.1272  1.1276       0
2019-05-21 10:00:00  1.1274  1.1279  1.1268  1.1274       0
2019-05-22 09:00:00  1.1252  1.1255  1.1242  1.1252       0
2019-05-22 10:00:00  1.1254  1.1261  1.1248  1.1255       0
2019-05-23 09:00:00  1.1221  1.1225  1.1212  1.1217       0
2019-05-23 10:00:00  1.1215  1.1229  1.1208  1.1225       0
2019-05-24 09:00:00  1.1225  1.1227  1.1215  1.1219       0
2019-05-24 10:00:00  1.1224  1.1224  1.1214  1.1218       0
2019-05-27 09:00:00  1.1254  1.1257  1.1249  1.1256       0
2019-05-27 10:00:00  1.1246  1.1249  1.1241  1.1247       0
2019-05-28 09:00:00  1.1251  1.1257  1.1247  1.1255       0
2019-05-28 10:00:00  1.1262  1.1275  1.1254  1.1269       0
2019-05-29 09:00:00  1.1225  1.1229  1.1215  1.1223       0
2019-05-29 10:00:00  1.1227  1.1234  1.1219  1.1233       0
2019-05-30 09:00:00  1.1228  1.1230  1.1212  1.1223       0
2019-05-30 10:00:00  1.1218  1.1226  1.1212  1.1217       0
2019-05-31 09:00:00  1.1220  1.1222  1.1209  1.1212       0
2019-05-31 10:00:00  1.1217  1.1217  1.1204  1.1212       0
2019-06-03 09:00:00  1.1169  1.1177  1.1166  1.1175       0
2019-06-03 10:00:00  1.1178  1.1183  1.1165  1.1178       0
2019-06-04 09:00:00  1.1177  1.1179  1.1169  1.1174       0
2019-06-04 10:00:00  1.1172  1.1178  1.1164  1.1172       0
2019-06-05 09:00:00  1.1153  1.1155  1.1138  1.1149       0
2019-06-05 10:00:00  1.1151  1.1160  1.1142  1.1156       0
2019-06-06 09:00:00  1.1186  1.1198  1.1172  1.1178       0
2019-06-06 10:00:00  1.1175  1.1177  1.1162  1.1169       0
2019-06-07 09:00:00  1.1176  1.1184  1.1163  1.1173       0
2019-06-07 10:00:00  1.1187  1.1197  1.1180  1.1192       0
2019-06-10 09:00:00  1.1201  1.1201  1.1189  1.1198       0
2019-06-10 10:00:00  1.1204  1.1206  1.1191  1.1205       0
2019-06-11 09:00:00  1.1233  1.1233  1.1222  1.1229       0
2019-06-11 10:00:00  1.1236  1.1238  1.1228  1.1234       0
2019-06-12 09:00:00  1.1256  1.1260  1.1248  1.1256       0
2019-06-12 10:00:00  1.1252  1.1257  1.1246  1.1251       0
2019-06-13 09:00:00  1.1209  1.1210  1.1197  1.1202       0
2019-06-13 10:00:00  1.1205  1.1208  1.1195  1.1206       0
2019-06-14 09:00:00  1.1216  1.1216  1.1200  1.1205       0
2019-06-14 10:00:00  1.1205  1.1207  1.1192  1.1200       0

In [22]:
data_close = data_frame['close'].resample('15Min').ohlc()
data_low =  data_frame['low'].resample('15Min').ohlc()

In [7]:
data_close

                       open    high     low   close
Date_Time
2019-05-06 19:30:00  1.1395  1.1395  1.1395  1.1395
2019-05-06 19:45:00     NaN     NaN     NaN     NaN
2019-05-06 20:00:00  1.1395  1.1395  1.1395  1.1395
2019-05-06 20:15:00     NaN     NaN     NaN     NaN
2019-05-06 20:30:00  1.1393  1.1393  1.1393  1.1393
...                     ...     ...     ...     ...
2019-06-17 05:45:00     NaN     NaN     NaN     NaN
2019-06-17 06:00:00  1.1209  1.1209  1.1209  1.1209
2019-06-17 06:15:00     NaN     NaN     NaN     NaN
2019-06-17 06:30:00  1.1210  1.1210  1.1210  1.1210
2019-06-17 06:45:00  1.1207  1.1207  1.1207  1.1207

[3982 rows x 4 columns]